html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
img {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-lightItalic"),
    url("../fonts/MullerLightItalic.woff2") format("woff2"),
    url("../fonts/MullerLightItalic.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegularItalic.woff2") format("woff2"),
    url("../fonts/MullerRegularItalic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Mulleri-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Mulleri-Medium"),
    url("../fonts/MullerMediumItalic.woff2") format("woff2"),
    url("../fonts/MullerMediumItalic.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-BoldItalic"),
    url("../fonts/MullerBoldItalic.woff2") format("woff2"),
    url("../fonts/MullerBoldItalic.woff2") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}


:root {
--paddingSection: 94px 0;
--colorBlack-121723: #121723;
--colorSeniBlack-292E39: #292E39;
--colorGray-A1A6B4: #A1A6B4;
--colorSemiGray-D2D5DD: #D2D5DD;
--colorLightGray-E6E8EC: #E6E8EC;
--colorBrown-BB973E: #BB973E;
--colorSemiBrown-F0D288: #F0D288;
--colorBlue-0039A6: #0039A6;
--colorRed-D52B1E: #D52B1E;
--colorPurple-4F28A5: #4F28A5;
--colorSemiPurple-6D31EE: #6D31EE;
--colorLightPurple-AA9DFA: #AA9DFA;
--colorWhiteGray-F5F6F7: #F5F6F7;
--colorWhite-FFF: #FFF; 
--fontSize-HeadTitle: 60px;
--fontSize-Title: 48px;
--fontSize-big: 20px;
--fontSize-normal: 16px;
--fontSize-small: 14px;
--fonSize-verySmall: 12px;
--fontSize-micro-date-podcaste: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Muller", Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 405px;
  max-width: 1920px;
}

.flex {
  display: flex;
}

.head-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 22px;
}

.head-container::after {
  content: '';
  position: absolute;
  background-color: var(--colorLightGray-E6E8EC);
  width: 100%;
  height: 1px;
  top: 82px;
}

.head-container::before {
  content: '';
  position: absolute;
  background-color: var(--colorLightGray-E6E8EC);
  width: 100%;
  height: 1px;
  top: 141px;
}

.head-container__block-top {
  align-items: center;
}

.head-container__head-logo {
  margin-right: 80px;
}

.head-container__nav-top {
  margin-right: auto;
}

.head-container__item-nav-top:not(:last-child) {
  margin-right: 58px;
}

.head-container__btn-search {
  margin-right: 23px;
  background: none;
  border: none;
}

.head-container__btn-input {
  font-weight: 500;
  border-radius: 77px;
  padding: 12px 32px;
  font-size: var(--fontSize-normal);
  line-height: 16px;
  color: var(--colorBlack-121723);
  background: none;
}

.head-container__link-top {
  font-weight: 400;
  font-size: var(--fontSize-big);
  line-height: 20px;
  color: var(--colorBlack-121723);
}

.head-container__block-bottom {
  align-items: center;
  padding-top: 18px;
}

.head-container__nav-bottom {
  margin-right: 15px;
}

.head-container__item-bottom {
  margin-right: 52px;
  font-weight: 400;
  font-size: var(--fontSize-normal);
  line-height: 16px;
  color: var(--colorBlack-121723);
}

.head-container__music-block-live, 
.head-container__music-block-before {
  align-items: center;
  position: relative;
}

.head-container__music-block-before::before {
  content: '';
  position: absolute;
  height: 40px;
  width: 1px;
  background-color: var(--colorLightGray-E6E8EC);
  top: -4px;
  left: -12px;
}

.head-container__music-block-before {
  margin-right: 57px;
}

.head-container__music-block-before::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 1px;
  background-color: var(--colorLightGray-E6E8EC);
  right: -47px;
  bottom: -2px;
}

.head-container__music-block-live {
  margin-right: 93px;
}

.head-container__music-block-live::before {
  content: '';
  position: absolute;
  background-color: var(--colorLightGray-E6E8EC);
  width: 1px;
  height: 40px;
  top: -2px;
  left: 163px;
}

.head-container__mus-left {
  position: relative;
  margin-right: 10px;
  top: 2px;
}

.head-container__adv-text-mus {
  font-weight: 400;
  font-size: var(--fonSize-verySmall);
  line-height: 12px;
  color: var(--colorGray-A1A6B4);
}

.head-container__name-mus {
  font-weight: 400;
  font-size: var(--fontSize-small);
  line-height: 16px;
  color: var(--colorBlack-121723);
}

.container-live-sec {
  align-items: center;
}

.section-live {
  padding-top: 11px;
  padding-bottom: 32px;
}

.section-live__left-block {
  flex-basis: 55%;
  margin-right: auto;
}

.section-live__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: var(--fontSize-HeadTitle);
  line-height: 100%;
  color: var(--colorBlack-121723);
}

.section-live__title_italic-part {
  font-style: italic;
  font-weight: 400;
}

.section-live__text {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: var(--fontSize-normal);
  line-height: 150%;
}

.section-live__btn {
  padding: 25px 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--colorWhite-FFF);
  border: none;
  background: #6D31EE;
  border-radius: 40px;
}


.section-podcast {
  padding: var(--paddingSection);
  background-color: #F2F2F2;;
}

.section-podcast__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: var(--fontSize-Title);
  line-height: 100%;
  color: var(--colorBlack-121723);
}

.section-podcast__list {
  flex-wrap: wrap;
}

.section-podcast__item {
  flex-basis: 48.6%;
}

.section-podcast__podcast {
  position: relative;
  background-color: var(--colorWhite-FFF);
}

.section-podcast__item {
  position: relative;
  margin-bottom: 30px;
}

.section-podcast__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.section-podcast__podcast-top {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px 30px 4px;
}

.section-podcast__item::after {
  content: '';
  position: absolute;
  width: 79%;
  height: 1px;
  background-color: var(--colorLightGray-E6E8EC);
  top: 77%;
  right: 0;
}

.section-podcast__podcast-bottom {
  position: relative;
}

.section-podcast__date-podcast {
  position: absolute;
  padding: 2px 6px;
  font-weight: 400;
  font-size: var(--fontSize-micro-date-podcaste);
  line-height: 10px;
  color: var(--colorBlack-121723);
  background-color: var(--colorLightGray-E6E8EC);
  bottom: 0;
  left: 0;
}

.section-podcast__date-podcast_inactive {
  color: var(--colorGray-A1A6B4);
}

.section-podcast__btn-play {
  position: absolute;
  background: none;
  border: none;
  top: 22%;
  right: 6%;
}

.section-podcast__time-podcast {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: var(--fonSize-verySmall);
  line-height: 12px;
  color: var(--colorBlack-121723);
}
.section-podcast__podcast-name {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: var(--fontSize-big);
  line-height: 20px;
  color: var(--colorBlack-121723);
}

.section-pocast__name-presenter {
  margin-bottom: auto;
  font-weight: 400;
  font-size: var(--fontSize-normal);
  line-height: 16px;
  color: var(--colorGray-A1A6B4);
}

.section_podcast__adv-button {
  position: relative;
  font-weight: 400;
  font-size: var(--fontSize-normal);
  line-height: 16px;
  color: var(--colorGray-A1A6B4);
}

.section_podcast__adv-button:not(:last-child) {
  margin-right: 29px;
}

.section-podcast__button-section {
  justify-content: center;
}

.section-podcast__btn {
  padding: 25px 54px;
  font-weight: 500;
  font-size: var(--fontSize-big);
  line-height: 20px;
  text-align: center;
  color: var(--colorSemiPurple-6D31EE);
  border-radius: 40px;
  border-color: var(--colorSemiPurple-6D31EE);
}

.section-broadcast {
  padding: var(--paddingSection);
}

.section-broadcast__title {
  font-weight: 400;
  font-size: var(--fontSize-Title);
  line-height: 100%;
  color: var(--colorBlack-121723);
}

.section-bradcast__broadcast-list {
  flex-wrap: wrap;
}



.section-broadcast__text-author {
  font-weight: 400;
  font-size: var(--fontSize-normal);
  line-height: 16px;
  color: var(--colorGray-A1A6B4);
}
