html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
img {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Mulleri-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 405px;
  max-width: 1920px;
}

.flex {
  display: flex;
}

.head-container {
  padding-top: 30px;
  padding-bottom: 22px;
}

.head-container__head-logo {
  margin-right: 80px;
}

.head-container__nav-top {
  margin-right: auto;
}

.head-container__item-nav-top:not(:last-child) {
  margin-right: 58px;
}

.head-container__btn-search {
  margin-right: 28px;
}