html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
img {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-lightItalic"),
    url("../fonts/MullerLightItalic.woff2") format("woff2"),
    url("../fonts/MullerLightItalic.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegularItalic.woff2") format("woff2"),
    url("../fonts/MullerRegularItalic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Mulleri-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Mulleri-Medium"),
    url("../fonts/MullerMediumItalic.woff2") format("woff2"),
    url("../fonts/MullerMediumItalic.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-BoldItalic"),
    url("../fonts/MullerBoldItalic.woff2") format("woff2"),
    url("../fonts/MullerBoldItalic.woff2") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}


:root {
  --paddingSection: 94px 0;
  --colorBlack-121723: #121723;
  --colorSeniBlack-292E39: #292E39;
  --colorGray-A1A6B4: #A1A6B4;
  --colorSemiGray-D2D5DD: #D2D5DD;
  --colorLightGray-E6E8EC: #E6E8EC;
  --colorBrown-BB973E: #BB973E;
  --colorSemiBrown-F0D288: #F0D288;
  --colorBlue-0039A6: #0039A6;
  --colorRed-D52B1E: #D52B1E;
  --colorPurple-4F28A5: #4F28A5;
  --colorSemiPurple-6D31EE: #6D31EE;
  --colorLightPurple-AA9DFA: #AA9DFA;
  --colorWhiteGray-F5F6F7: #F5F6F7;
  --colorWhite-FFF: #FFF;
  --fontSize-HeadTitle: 60px;
  --fontSize-Title-48px: 48px;
  --fontSize-big-20px: 20px;
  --fontSize-normal-16px: 16px;
  --fontSize-small: 14px;
  --fonSize-verySmall-12px: 12px;
  --fontSize-micro-date-podcaste: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  background: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Muller", Arial, Helvetica, sans-serif;
}

picture {
  font-size: 0;
}

.container {
  margin: 0 auto;
  padding: 0 45px;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.head-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 22px;
}

.head-container__nav-burger {
  /* display: none; */
  padding: 106px 114px;
  align-items: center;
  position: absolute;
  background-color: var(--colorSemiGray-D2D5DD);
  height: 70vh;
  width: 100%;
  z-index: 3;
  transform: translateY(-120%);
  transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  visibility: hidden;
}

.head-container__what-air-open {
  display: none;
}

.head-container__nav-burger--active {
  transform: none;
  visibility: visible;
}

.head-container__list-burger {
  columns: 2;
  max-width: 60%;
}

.head-container__list-bottom-burger {
  display: none;
}

.head-container__list-burger::after {
  content: '';
  position: absolute;
  top: 86px;
  right: 256px;
  width: 113px;
  height: 364px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='115' height='315' viewBox='0 0 115 315' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M73.4159 1C33.4215 1 1 11.2609 1 23.9184C1 36.5758 33.4215 46.8368 73.4159 46.8368C95.8298 46.8368 114 42.4932 114 37.1351C114 31.777 95.8298 27.4335 73.4159 27.4335C33.4215 27.4335 1 37.6944 1 50.3518C1 63.0094 33.4215 73.2706 73.4159 73.2706C95.8298 73.2706 114 68.9268 114 63.5686C114 58.2105 95.8298 53.8669 73.4159 53.8669C33.4215 53.8669 1 64.1908 1 76.9259C1 89.6609 33.4215 99.9851 73.4159 99.9851C95.8298 99.9851 114 95.6414 114 90.2831C114 84.9249 95.8298 80.582 73.4159 80.582C33.4215 80.582 1 90.8425 1 103.5C1 116.158 33.4215 126.418 73.4159 126.418C95.8298 126.418 114 122.075 114 116.717C114 111.359 95.8298 107.015 73.4159 107.015C33.4215 107.015 1 117.276 1 129.934C1 142.591 33.4215 152.852 73.4159 152.852C95.8298 152.852 114 148.508 114 143.151C114 137.792 95.8298 133.449 73.4159 133.449C33.4215 133.449 1 143.71 1 156.367C1 169.024 33.4215 179.285 73.4159 179.285C95.8298 179.285 114 174.942 114 169.583C114 164.226 95.8298 159.882 73.4159 159.882C33.4215 159.882 1 170.206 1 182.941C1 195.676 33.4215 206 73.4159 206M73.4159 160C33.4215 160 1 170.261 1 182.918C1 195.576 33.4215 205.837 73.4159 205.837C95.8298 205.837 114 201.493 114 196.135C114 190.777 95.8298 186.433 73.4159 186.433C33.4215 186.433 1 196.694 1 209.352C1 222.009 33.4215 232.271 73.4159 232.271C95.8298 232.271 114 227.927 114 222.569C114 217.211 95.8298 212.867 73.4159 212.867C33.4215 212.867 1 223.191 1 235.926C1 248.661 33.4215 258.985 73.4159 258.985C95.8298 258.985 114 254.641 114 249.283C114 243.925 95.8298 239.582 73.4159 239.582C33.4215 239.582 1 249.842 1 262.5C1 275.158 33.4215 285.418 73.4159 285.418C95.8298 285.418 114 281.075 114 275.717C114 270.359 95.8298 266.015 73.4159 266.015C33.4215 266.015 1 276.276 1 288.934C1 301.591 33.4215 311.852 73.4159 311.852C95.8298 311.852 114 307.508 114 302.151C114 296.792 95.8298 292.449 73.4159 292.449C33.4215 292.449 1 302.71 1 315.367C1 328.024 33.4215 338.285 73.4159 338.285C95.8298 338.285 114 333.942 114 328.583C114 323.226 95.8298 318.882 73.4159 318.882C33.4215 318.882 1 329.206 1 341.941C1 354.676 33.4215 365 73.4159 365' stroke='%23A1A6B4' stroke-linecap='round'/%3e%3c/svg%3e ");
}

.head-container__list-burger::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 114px;
  width: 113px;
  height: 364px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='114' height='315' viewBox='0 0 114 315' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M72.7751 -50C33.1346 -50 1 -39.7391 1 -27.0816C1 -14.4242 33.1346 -4.16321 72.7751 -4.16321C94.9906 -4.16321 113 -8.50679 113 -13.8649C113 -19.223 94.9906 -23.5665 72.7751 -23.5665C33.1346 -23.5665 1 -13.3056 1 -0.648186C1 12.0094 33.1346 22.2706 72.7751 22.2706C94.9906 22.2706 113 17.9268 113 12.5686C113 7.21049 94.9906 2.86692 72.7751 2.86692C33.1346 2.86692 1 13.1908 1 25.9259C1 38.6609 33.1346 48.9851 72.7751 48.9851C94.9906 48.9851 113 44.6414 113 39.2831C113 33.9249 94.9906 29.582 72.7751 29.582C33.1346 29.582 1 39.8425 1 52.5C1 65.1575 33.1346 75.418 72.7751 75.418C94.9906 75.418 113 71.0751 113 65.7169C113 60.3586 94.9906 56.0149 72.7751 56.0149C33.1346 56.0149 1 66.2762 1 78.9337C1 91.5912 33.1346 101.852 72.7751 101.852C94.9906 101.852 113 97.508 113 92.1506C113 86.7923 94.9906 82.4485 72.7751 82.4485C33.1346 82.4485 1 92.7099 1 105.367C1 118.024 33.1346 128.285 72.7751 128.285C94.9906 128.285 113 123.942 113 118.583C113 113.226 94.9906 108.882 72.7751 108.882C33.1346 108.882 1 119.206 1 131.941C1 144.676 33.1346 155 72.7751 155M72.7751 109C33.1346 109 1 119.261 1 131.918C1 144.576 33.1346 154.837 72.7751 154.837C94.9906 154.837 113 150.493 113 145.135C113 139.777 94.9906 135.433 72.7751 135.433C33.1346 135.433 1 145.694 1 158.352C1 171.009 33.1346 181.271 72.7751 181.271C94.9906 181.271 113 176.927 113 171.569C113 166.211 94.9906 161.867 72.7751 161.867C33.1346 161.867 1 172.191 1 184.926C1 197.661 33.1346 207.985 72.7751 207.985C94.9906 207.985 113 203.641 113 198.283C113 192.925 94.9906 188.582 72.7751 188.582C33.1346 188.582 1 198.842 1 211.5C1 224.158 33.1346 234.418 72.7751 234.418C94.9906 234.418 113 230.075 113 224.717C113 219.359 94.9906 215.015 72.7751 215.015C33.1346 215.015 1 225.276 1 237.934C1 250.591 33.1346 260.852 72.7751 260.852C94.9906 260.852 113 256.508 113 251.151C113 245.792 94.9906 241.449 72.7751 241.449C33.1346 241.449 1 251.71 1 264.367C1 277.024 33.1346 287.285 72.7751 287.285C94.9906 287.285 113 282.942 113 277.583C113 272.226 94.9906 267.882 72.7751 267.882C33.1346 267.882 1 278.206 1 290.941C1 303.676 33.1346 314 72.7751 314' stroke='%23A1A6B4' stroke-linecap='round'/%3e%3c/svg%3e ");
}

.head-container__item-burger {
  margin-bottom: 64px;
  margin-right: 64px;
}

.head-container__link-burger {
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 100%;
  color: var(--colorBlack-121723);
}

.head-container__burger {
  width: 24px;
  height: 24px;
  position: relative;
  top: 10px;
  transition-duration: 1s;
  display: none;
  z-index: 3;
}

.head-container__burger-span {
  height: 3px;
  width: 24px;
  background-color: var(--colorSemiPurple-6D31EE);
  border-radius: 4px;
  position: absolute;
  transition-duration: .25s;
  transition-delay: .25s;
}

.head-container__burger-span:before {
  left: 0;
  position: absolute;
  top: -11px;
  height: 3px;
  width: 24px;
  background-color: var(--colorSemiPurple-6D31EE);
  content: "";
  border-radius: 4px;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}

.head-container__burger-span::after {
  left: 0;
  position: absolute;
  top: 11px;
  height: 3px;
  width: 24px;
  background-color: var(--colorSemiPurple-6D31EE);
  content: "";
  border-radius: 4px;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}

.head-container__burger--active .head-container__burger-span {
  transition-duration: 0.1s;
  transition-delay: .25s;
  background: transparent;
}

.head-container__burger--active .head-container__burger-span:before {
  transition: top .25s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(-45deg);
}

.head-container__burger--active .head-container__burger-span:after {
  transition: top 0.4s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(45deg);
}

.head-container__top-block1197w {
  display: none;
}

.head-container__entrance-block {
  position: absolute;
  left: 30%;
  padding: 60px;
  background-color: var(--colorBlack-121723);
  color: var(--colorWhite-FFF);
  z-index: 3;
  transform: translateY(-120%);
  transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  visibility: hidden;
}

.head-container__entrance-block--active {
  visibility: visible;
  transform: none
}

.head-container-logo459-ico {
  display: none;
}

.head-container__entrance-block::after {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(100% - 120px);
  left: 60px;
  bottom: 183px;
  background-color: rgba(230, 232, 236, 0.4);
}

.head-container__btn-esc-entr {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
}

.head-container__btn-esc-entr svg>circle {
  transition: stroke .3s ease-in-out;
}

.head-container__btn-esc-entr svg>path {
  transition: stroke .3s ease-in-out;
}

.head-container__btn-esc-entr:focus svg>circle {
  stroke: var(--colorLightPurple-AA9DFA)
}

.head-container__btn-esc-entr:hover svg>path {
  stroke: var(--colorLightPurple-AA9DFA)
}

.head-container__btn-esc-entr:hover svg>circle {
  stroke: var(--colorLightPurple-AA9DFA)
}

.head-container__btn-esc-entr:active svg>path {
  stroke: var(--colorPurple-4F28A5)
}

.head-container__btn-esc-entr:active svg>circle {
  stroke: var(--colorPurple-4F28A5)
}

.head-container__entr-title {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: var(--fontSize-Title-48px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
}

.head-container__entr-link-registr {
  color: var(--colorSemiPurple-6D31EE);
}

.head-container__entr-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
}

.head-container__entr-input {
  display: block;
  margin-bottom: 30px;
  padding: 25px 32px;
  min-width: 526px;
  color: var(--colorGray-A1A6B4);
  border: 1px solid var(--colorWhite-FFF);
  border-radius: 40px;
  background-color: var(--colorBlack-121723);
}

.head-container__entr-adv-text {
  display: block;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
}

.head-container__what-air-block-600 {
  display: none;
}

.head-container__entr-adv-social-link:first-of-type {
  position: relative;
  top: 2px;
}

.head-container__entr-adv-social-link:not(:last-child) {
  margin-right: 46px;
}

.head-container::after {
  content: '';
  position: absolute;
  background-color: var(--colorLightGray-E6E8EC);
  width: 100%;
  height: 1px;
  top: 82px;
}

.head-container::before {
  content: '';
  position: absolute;
  background-color: var(--colorLightGray-E6E8EC);
  width: 100%;
  height: 1px;
  top: 141px;
}

.head-container__block-top {
  align-items: center;
  position: relative;
}

.head-container__head-logo {
  margin-right: 80px;
}

.head-container__nav-top {
  margin-right: auto;
}

.head-container__item-nav-top:not(:last-child) {
  margin-right: 58px;
}

.head-container__btn-search {
  margin-right: 23px;
  background: none;
  border: none;
}

.head-container__search-block {
  position: absolute;
  left: 648px;
  transform: scaleX(0);
  visibility: hidden;
  transition: transform .3s ease-in-out;
}

.head-container__search-block--active {
  visibility: visible;
  transform: none;
}

.head-container__search-block--no-active {
  visibility: hidden;
}

.head-container__search {
  border: none;
  border-bottom: solid 1px var(--colorSemiPurple-6D31EE);
  width: 308px;
}

.head-container__btn-search-block {
  border: none;
}

.head-container__search-block--active+.head-container__btn-search {
  visibility: hidden;
}

.head-container__btn-search-ico>path {
  transition: stroke 0.3s ease-in-out;
}

.head-container__btn-search:focus .head-container__btn-search-ico>path {
  stroke: var(--colorLightPurple-AA9DFA);
}

.head-container__btn-search:hover .head-container__btn-search-ico>path {
  stroke: var(--colorLightPurple-AA9DFA);
}

.head-container__btn-search:active .head-container__btn-search-ico>path {
  stroke: var(--colorPurple-4F28A5);
}

.head-container__btn-search-block:focus .head-container__btn-search-ico>path {
  stroke: var(--colorLightPurple-AA9DFA);
}

.head-container__btn-search-block:hover .head-container__btn-search-ico>path {
  stroke: var(--colorLightPurple-AA9DFA);
}

.head-container__btn-search-block:active .head-container__btn-search-ico>path {
  stroke: var(--colorPurple-4F28A5);
}

.header-container__ico-play-1022 {
  display: none;
}

.head-container__btn-input {
  font-weight: 500;
  border-radius: 77px;
  padding: 12px 32px;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorBlack-121723);
  background: none;
  border: 2px solid var(--colorBlack-121723);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.head-container__btn-input:focus {
  background-color: var(--colorLightPurple-AA9DFA);
}

.head-container__btn-input:hover {
  color: var(--colorWhite-FFF);
  background-color: var(--colorBlack-121723);
}

.head-container__btn-input:active {
  color: var(--colorWhite-FFF);
  background-color: var(--colorPurple-4F28A5);
}

.head-container__link-top {
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 20px;
  color: var(--colorBlack-121723);
}

.head-container__link-top,
.head-container__link-bottom {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.head-container__link-top:focus,
.head-container__link-bottom:focus {
  background-color: var(--colorLightPurple-AA9DFA);
  color: var(--colorWhite-FFF);
}

.head-container__link-top:hover,
.head-container__link-bottom:hover {
  color: var(--colorSemiPurple-6D31EE);
}

.head-container__link-top:active,
.head-container__link-bottom:active {
  color: #4f28a5;
}

.head-container__block-bottom {
  align-items: center;
  padding-top: 18px;
}

.head-container__nav-bottom {
  margin-right: 15px;
}

.head-container__item-bottom {
  margin-right: 52px;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorBlack-121723);
}

.head-container__music-block-live,
.head-container__music-block-before {
  align-items: center;
  position: relative;
}

.head-container__music-block-before::before {
  content: '';
  position: absolute;
  height: 40px;
  width: 1px;
  background-color: var(--colorLightGray-E6E8EC);
  top: -4px;
  left: -12px;
}

.head-container__music-block-before {
  margin-right: 57px;
}

.head-container__music-block-before::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 1px;
  background-color: var(--colorLightGray-E6E8EC);
  right: -47px;
  bottom: -2px;
}

.head-container__music-block-live {
  margin-right: 93px;
}

.head-container__music-block-live::before {
  content: '';
  position: absolute;
  background-color: var(--colorLightGray-E6E8EC);
  width: 1px;
  height: 40px;
  top: -2px;
  left: 163px;
}

.head-container__mus-left {
  position: relative;
  margin-right: 10px;
  top: 2px;
}

.head-container__mus-left {
  cursor: pointer;
}

.head-container__mus-left svg>path {
  transition: fill .3s ease-in-out;
}

.head-container__mus-left:focus svg>path {
  fill: var(--colorLightPurple-AA9DFA);
}

.head-container__mus-left:hover svg>path {
  fill: var(--colorSemiPurple-6D31EE);
}

.head-container__mus-left:active svg>path {
  fill: var(--colorPurple-4F28A5);
}

.head-container__pause {
  display: none;
}

.head-container__pause--active {
  display: inline-block;
}

.head-container__play--no-active {
  display: none;
}

.head-container__ico-what-air {
  transition: transform .3s ease-in-out;
}

.head-container__what-air-block-600--active .head-container__ico-what-air {
  transform: rotate(45deg);
}

.head-container__adv-text-mus {
  font-weight: 400;
  font-size: var(--fonSize-verySmall-12px);
  line-height: 12px;
  color: var(--colorGray-A1A6B4);
}

.head-container__name-mus {
  font-weight: 400;
  font-size: var(--fontSize-small);
  line-height: 16px;
  color: var(--colorBlack-121723);
}

.container-live-sec {
  align-items: center;
}

.section-live {
  padding-top: 11px;
  padding-bottom: 32px;
}

.section-live__left-block {
  flex-basis: 55%;
  margin-right: auto;
}

.section-live__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: var(--fontSize-HeadTitle);
  line-height: 100%;
  color: var(--colorBlack-121723);
}

.section-live__title-italic-part {
  font-style: italic;
  font-weight: 400;
}

.section-live__text {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 150%;
}

.section-live__btn {
  padding: 25px 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--colorWhite-FFF);
  border: none;
  background: #6D31EE;
  border-radius: 40px;
  transition: background-color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}

.section-live__btn:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--colorPurple-4F28A5);
}

.section-live__btn:hover {
  background-color: var(--colorLightPurple-AA9DFA);
}

.section-live__btn:active {
  background-color: var(--colorPurple-4F28A5);
}

.head-container__entr-btn {
  margin-bottom: 60px;
  padding: 25px 54px;
  background: #6D31EE;
  border-radius: 40px;
  border: none;
}

.section-podcast {
  padding: var(--paddingSection);
  background-color: #F2F2F2;
  ;
}

.section-podcast__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: var(--fontSize-Title-48px);
  line-height: 100%;
  color: var(--colorBlack-121723);
}

.section-podcast__list {
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.section-podcast__item {
  flex-basis: 48.6%;
}

.section-podcast__podcast {
  position: relative;
  background-color: var(--colorWhite-FFF);
}

.section-podcast__item {
  position: relative;
  margin-bottom: 30px;
}

.section-podcast__item--no-active {
  display: none;
}

.section-podcast__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.section-podcast__podcast-top {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px 30px 4px;
}

.section-podcast__item::after {
  content: '';
  position: absolute;
  width: calc(100% - 112px);
  height: 1px;
  background-color: var(--colorLightGray-E6E8EC);
  top: 77%;
  right: 0;
}

.section-podcast__podcast-bottom {
  position: relative;
}

.section-podcast__ico>path {
  transition: fill .3s ease-in-out;
}

.section-podcast__date-podcast {
  position: absolute;
  padding: 2px 6px;
  font-weight: 400;
  font-size: var(--fontSize-micro-date-podcaste);
  line-height: 10px;
  color: var(--colorBlack-121723);
  background-color: var(--colorLightGray-E6E8EC);
  bottom: 0;
  left: 0;
}

.section-podcast__date-podcast_inactive {
  color: var(--colorGray-A1A6B4);
}

.section-podcast__btn-play {
  position: absolute;
  background: none;
  border: none;
  top: 22%;
  right: 6%;
}

.section-podcast__btn-play svg>circle {
  transition: stroke .3s ease-in-out;
}

.section-podcast__btn-play svg>path {
  transition: fill .3s ease-in-out;
}

.section-podcast__btn-play svg {
  transition: fill .3s ease-in-out;
}

.section-podcast__btn-play:focus svg>circle {
  stroke: var(--colorLightPurple-AA9DFA);
}

.section-podcast__btn-play:focus svg>path {
  fill: var(--colorLightPurple-AA9DFA);
}

.section-podcast__btn-play:hover svg>circle {
  stroke: var(--colorSemiPurple-6D31EE);
}

.section-podcast__btn-play:hover svg>path {
  fill: var(--colorSemiPurple-6D31EE);
}

.section-podcast__btn-play:active svg>circle {
  stroke: var(--colorPurple-4F28A5);
}

.section-podcast__btn-play:active svg {
  fill: var(--colorPurple-4F28A5);
}

.section-podcast__btn-play:active svg>path {
  fill: var(--colorWhite-FFF);
}

.section-podcast__ico-play--no-active {
  display: none;
}

.section-podcast__ico-pause rect {
  transition: fill .3s ease-in-out;
}

.section-podcast__btn-play:focus svg>rect {
  fill: var(--colorLightPurple-AA9DFA);
}

.section-podcast__btn-play:hover svg>rect {
  fill: var(--colorSemiPurple-6D31EE);
}

.section-podcast__btn-play:active svg>rect {
  fill: var(--colorWhite-FFF);
}

.section-podcast__ico-pause {
  display: none;
}

.section-podcast__ico-pause--active {
  display: block;
}

.section-podcast__time-podcast {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: var(--fonSize-verySmall-12px);
  line-height: 12px;
  color: var(--colorBlack-121723);
}

.section-podcast__podcast-name {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 20px;
  color: var(--colorBlack-121723);
}

.section-podcast__name-presenter {
  margin-bottom: auto;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorGray-A1A6B4);
}

.section-podcast__adv-button {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorGray-A1A6B4);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.section-podcast__adv-button:not(:last-child) {
  margin-right: 29px;
}

.section-podcast__adv-button:focus {
  background-color: var(--colorLightPurple-AA9DFA);
  color: var(--colorWhite-FFF);
}

.section-podcast__adv-button:focus .section-podcast__ico>path {
  fill: var(--colorWhite-FFF);
}

.section-podcast__adv-button:hover {
  color: var(--colorSemiPurple-6D31EE);
}

.section-podcast__adv-button:hover .section-podcast__ico>path {
  fill: var(--colorSemiPurple-6D31EE);
}

.section-podcast__adv-button:active {
  color: var(--colorPurple-4F28A5);
}

.section-podcast__adv-button:active .section-podcast__ico>path {
  fill: var(--colorPurple-4F28A5);
}

.section-podcast__button-section {
  justify-content: center;
}

.section-podcast__btn {
  padding: 25px 54px;
  font-weight: 500;
  font-size: var(--fontSize-big-20px);
  line-height: 20px;
  text-align: center;
  color: var(--colorSemiPurple-6D31EE);
  border-radius: 40px;
  border: 2px solid var(--colorSemiPurple-6D31EE);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.section-podcast__btn:focus {
  background-color: var(--colorLightPurple-AA9DFA);
  color: var(--colorWhite-FFF);
}

.section-podcast__btn:hover {
  background-color: var(--colorSemiPurple-6D31EE);
  color: var(--colorWhite-FFF);
}

.section-podcast__btn:active {
  background-color: var(--colorPurple-4F28A5);
  color: var(--colorWhite-FFF);
}

.section-broadcast {
  padding: var(--paddingSection);
  padding-bottom: 60px;
}

.section-broadcast__left-block {
  margin-bottom: 30px;
  margin-right: 34px;
  flex-direction: column;
  flex-basis: 45%;
}

.section-broadcast__title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: var(--fontSize-Title-48px);
  line-height: 100%;
  color: var(--colorBlack-121723);
}

.section-broadcast__broadcast-list {
  flex-wrap: wrap;
  padding-top: 13px;
}

.section-broadcast__select-author {
  margin-bottom: auto;
}

.section-broadcast__text-author {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorGray-A1A6B4);
}

.section-broadcast__brodcast-item {
  cursor: pointer;
  font-size: 0;
  margin-bottom: 30px;
}

.section-broadcast__brodcast-img {
  transition: opacity .3s ease-in-out;
}

.section-broadcast__brodcast-item:focus {
  outline-offset: 7px;
  outline: solid 1px var(--colorSemiPurple-6D31EE);
}

.section-broadcast__brodcast-item:hover .section-broadcast__brodcast-img {
  opacity: 0.7;
}

.section-broadcast__more-info-ico {
  transition: transform .3s ease-in-out;
}

.section-broadcast__brodcast-item:hover .section-broadcast__more-info-ico {
  transform: translateX(15%);
}

.section-broadcast__brodcast-item:hover .section-broadcast__more-info-ico>path {
  fill: var(--colorSemiPurple-6D31EE);
}

.section-broadcast__brodcast-item:hover .section-broadcast__more-info {
  color: var(--colorSemiPurple-6D31EE);
}

.section-broadcast__more-info:focus {
  background-color: var(--colorLightPurple-AA9DFA);
}

.section-broadcast__more-info:active {
  color: var(--colorPurple-4F28A5);
}

.section-broadcast__brodcast-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.section-broadcast__item-bottom {
  padding: 20px 16px;
  border: solid 1px var(--colorLightGray-E6E8EC);
}

.section-broadcast__broadcast-name {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: var(--fontSize-big-20px);
  line-height: 20px;
  color: var(--colorBlack-121723);
}

.section-broadcast__broadcast-info {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: var(--fonSize-verySmall-12px);
  line-height: 12px;
  color: var(--colorGray-A1A6B4);
}

.section-broadcast__more-info {
  font-style: italic;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorBlack-121723);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.section-broadcast__more-info:focus {
  color: var(--colorWhite-FFF);
}

.section-broadcast__brodcast-item:focus .section-broadcast__more-info {
  background-color: var(--colorLightPurple-AA9DFA);
  color: var(--colorWhite-FFF);
}

.section-broadcast__img {
  margin-bottom: 33px;
  width: 65px;
  height: 89px;
}

.section-broadcast__bottom-block-view-1022 {
  display: none;
}

.section-broadcast__btn-block {
  margin-bottom: 24px;
}

.section-broadcast__link-archive {
  padding: 12px 45px;
  font-weight: 500;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorBlack-121723);
  border: 2px solid var(--colorBlack-121723);
  border-radius: 77px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.section-broadcast__link-archive-ico {
  position: relative;
  top: 3px;
}

.section-broadcast__link-archive-ico>path {
  transition: stroke 0.3s ease-in-out;
}

.section-broadcast__link-archive:focus {
  background-color: var(--colorLightPurple-AA9DFA);
}

.section-broadcast__link-archive:hover {
  background-color: var(--colorBlack-121723);
  color: var(--colorWhite-FFF);
}

.section-broadcast__link-archive:hover .section-broadcast__link-archive-ico>path {
  stroke: var(--colorWhite-FFF);
}

.section-broadcast__link-archive:active {
  background-color: var(--colorPurple-4F28A5);
  color: var(--colorWhite-FFF);
}

.section-broadcast__text-link {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 150%;
  color: var(--colorGray-A1A6B4);
}

.section-guests {
  padding: var(--paddingSection);
  padding-bottom: 81px;
  background-color: var(--colorBlack-121723);
}

.section-guests__title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: var(--fontSize-Title-48px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
}

.section-guests__adv-text {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: var(--fontSize-big-20px);
  line-height: 150%;
  color: var(--colorGray-A1A6B4);
}

.section-guests__sub-text {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 160%;
  color: var(--colorGray-A1A6B4);
}

.section-guests__left-block {
  flex-basis: 65.7%;
  margin-right: auto;
}

.section-guests__rightn-block {
  flex-basis: 31.5%;
  justify-content: flex-end;
  display: none;
}

.section-guests__rightn-block--active {
  display: block;
}

.section-guests__subtitle {
  margin-right: auto;
  padding: 34px 0;
  font-weight: 500;
  font-size: var(--fontSize-big-20px);
  line-height: 20px;
  color: var(--colorWhite-FFF);
  transition: color 0.3s ease-in-out;
}

.section-guests__name-guests {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: var(--fontSize-big-20px);
  line-height: 20px;
  color: var(--colorWhite-FFF);
}

.section-guests__guests-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 180%;
  color: #A1A6B4;
}

.section-guests__ac-top {
  align-items: center;
  position: relative;
  width: 100%;
}

.section-guests__ac-top::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--colorGray-A1A6B4);
  top: 0;
  left: 0;
}

.section-guests__ac-item:last-child .section-guests__ac-top::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--colorGray-A1A6B4);
  bottom: 0;
  left: 0;
}

.section-guests__ac-item:focus .section-guests__ico-arr {
  background-color: var(--colorPurple-4F28A5);
  border-radius: 100%;
}

.section-guests__foto-guests {
  margin-bottom: 7px;
}

.section-guests__social-block {
  margin-bottom: 8px;
}

.section-guests__link-social:not(:last-child) {
  margin-right: 26px;
}

.section-guests__link-social-ico>path {
  transition: fill .3s ease-in-out;
}

.section-guests__link-social:focus .section-guests__link-social-ico>path {
  fill: var(--colorLightPurple-AA9DFA);
}

.section-guests__link-social:hover .section-guests__link-social-ico>path {
  fill: var(--colorSemiPurple-6D31EE);
}

.section-guests__link-social:active .section-guests__link-social-ico>path {
  fill: var(--colorPurple-4F28A5);
}

.section-guests__btn-guests {
  padding: 10px 24px;
  font-weight: 500;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorLightPurple-AA9DFA);
  border: 2px solid var(--colorLightPurple-AA9DFA);
  border-radius: 77px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.section-guests__btn-guests:focus {
  border-color: var(--colorSemiPurple-6D31EE);
  background-color: var(--colorSemiPurple-6D31EE);
  color: var(--colorWhite-FFF);
}

.section-guests__btn-guests:hover {
  border-color: var(--colorLightPurple-AA9DFA);
  color: var(--colorWhite-FFF);
  background-color: var(--colorLightPurple-AA9DFA);
}

.section-guests__btn-guests:active {
  background-color: var(--colorPurple-4F28A5);
  color: var(--colorWhite-FFF);
  border-color: var(--colorPurple-4F28A5);
}

/* Стилизация селекта */
.choices {
  margin-bottom: auto;
}

.choices__inner {
  position: relative;
  border-radius: 10px;
  background-color: var(--colorLightGray-E6E8EC);
  border: none;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 100%;
  color: var(--colorBlack-121723);
  transition: background-color 0.3s ease-in-out;
  z-index: 1;
}

.choices.is-focused .choices__inner {
  border: 1px solid var(--colorSemiPurple-6D31EE);
}

.choices__inner:hover {
  background-color: var(--colorWhiteGray-F5F6F7);
}

.choices__inner:active {
  background-color: var(--colorSemiGray-D2D5DD);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 12px;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorGray-A1A6B4);
}

.is-open .choices__inner {
  border-radius: 10px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  z-index: 0;
  top: -13%;
}

.choices[data-type*=select-one]::after {
  position: absolute;
  right: 3%;
  border: none;
  width: 13.5px;
  height: 8.5px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.65689 5.60651L1.35359 0.303208L0.646484 1.01031L6.65689 7.02072L12.6673 1.01031L11.9602 0.303208L6.65689 5.60651Z' fill='%23A1A6B4'/%3e%3c/svg%3e ");
  ;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.choices[data-type*=select-one].is-open::after {
  right: 4.5%;
  margin: -3px;
  transform: rotate(180deg);
}

.choices__item--choice::before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 248px;
  height: 1px;
  background-color: var(--colorSemiGray-D2D5DD);
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  padding-top: 50px;
  border-color: var(--colorSemiGray-D2D5DD);
  border-radius: 10px;
  z-index: 0;
}

.choices__item--selectable {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--colorLightPurple-AA9DFA);
  color: var(--colorBlack-121723);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:active {
  background-color: var(--colorLightGray-E6E8EC);
}

/*  */

/* Стилизация аккардиона */
.ac {
  background: none;
  border: none;
  margin: 0;
}

.section-guests__blogers-list {
  display: flex;
  flex-wrap: wrap;
}

.section-guests__blogers-sub-item {
  cursor: pointer;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorWhite-FFF);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  margin-right: 0px;
  flex-basis: 22%;
}

.section-guests__blogers-sub-item:not(:nth-child(4n)) {
  margin-right: 29px;
}

.section-guests__blogers-sub-item--active {
  color: var(--colorLightPurple-AA9DFA);
}

.section-guests__blogers-sub-item:focus {
  background-color: var(--colorLightPurple-AA9DFA);
  color: var(--colorWhite-FFF);
}

.section-guests__blogers-sub-item:hover {
  background: none;
  color: var(--colorSemiPurple-6D31EE);
}

.section-guests__blogers-sub-item:active {
  background: none;
  color: var(--colorPurple-4F28A5);
}

.section-guests__blogers-sub-item:not(:last-child) {
  margin-bottom: 19px;
}

.section-guests__blogers-sub-list {
  padding: 30px 0;
  flex-wrap: wrap;
}

.section-guests__blogers-sub-list:not(:last-child) {
  margin-right: 30px;
}

.section-guests__ac-item:focus {
  background-color: var(--colorSeniBlack-292E39);
}

.section-guests__ac-top:hover .section-guests__subtitle {
  color: var(--colorLightPurple-AA9DFA);
}

.section-guests__ico-arr {
  transition: transform 0.4s ease-in-out;
}

.section-guests__ico-arr circle {
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.section-guests__ico-arr path {
  transition: stroke 0.3s ease-in-out;
}

.section-guests__ac-top:hover .section-guests__ico-arr path,
.section-guests__ac-top:hover .section-guests__ico-arr circle {
  stroke: var(--colorLightPurple-AA9DFA)
}

.section-guests__ac-item.is-active .section-guests__ac-top::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--colorGray-A1A6B4);
  bottom: 0;
  left: 0;
}

.section-guests__ac-item.is-active .section-guests__ac-top::after,
.section-guests__ac-item.is-active .section-guests__ac-top::before {
  background-color: var(--colorLightPurple-AA9DFA);
}

.section-guests__ac-top {
  cursor: pointer;
}

.section-guests__ac-top:active .section-guests__ico-arr circle {
  fill: var(--colorLightPurple-AA9DFA);
}

.section-guests__ac-top:active .section-guests__ico-arr path {
  stroke: var(--colorWhite-FFF);
}

.section-guests__ac-item.is-active .section-guests__ico-arr {
  transform: rotate(180deg);
}

/* конец стилизации ac */

.section-playlists {
  padding: var(--paddingSection);
  padding-bottom: 65px;
}

.section-playlists__title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: var(--fontSize-Title-48px);
  line-height: 100%;
  color: var(--colorBlack-121723);
}

.section-playlists__left-block {
  flex-basis: 32%;
  margin-right: 34px;
}

.section-playlists__right-block {
  flex-basis: 68%;
  padding-top: 12px;
}

.section-playlists__music-list {
  flex-wrap: wrap;
}

.section-playlists__genre {
  display: inline-block;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorGray-A1A6B4);
}

.section-playlists__item {
  padding-left: 40px;
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 20px;
  color: var(--colorBlack-121723);
}

.section-playlists__btn-play {
  position: absolute;
  top: 59px;
  left: 59px;
  border: none;
}

.section-playlists__adv-ico-country {
  position: absolute;
  top: 0;
  right: 0%;
}

.section-playlists__btn-play {
  display: none;
}

.section-playlists__big-play-ico {
  display: none;
}

.section-playlists__name-block {
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.section-playlists__music-img {
  position: relative;
  transition: opcity .3s ease-in-out;
}

.section-playlists__music-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  opacity: 0;
  background-color: var(--colorBlack-121723);
  transition: opacity .3s ease-in-out;
  z-index: 2;
}

.section-playlists__music-item:focus::before {
  opacity: 0.8;
}

.section-playlists__music-item:hover::before {
  opacity: 0.8;
}

.section-playlists__music-item:focus .section-playlists__name-block {
  background-color: var(--colorLightPurple-AA9DFA);
}

.section-playlists__music-item:focus .section-podcast__ico-play {
  /* display: block; */
  z-index: 3;
}

.section-playlists__music-item:focus .section-playlists__btn-play {
  display: block;
  z-index: 3;
}

.section-playlists__music-item:focus .section-playlists__name-block {
  background-color: var(--colorLightPurple-AA9DFA);
  border-color: var(--colorLightPurple-AA9DFA);
}

.section-playlists__music-item:hover .section-podcast__ico-play {
  display: block;
  z-index: 3;
}

.section-playlists__music-item:hover .section-playlists__btn-play {
  display: block;
  z-index: 3;
}

.section-playlists__music-item:active .section-playlists__big-play-ico {
  display: block;
  z-index: 3;
}

.section-playlists__music-item:active .section-playlists__ico-play {
  display: none;
  z-index: 3;
}

.section-playlists__music-item:hover .section-playlists__name-block {
  background-color: var(--colorLightPurple-AA9DFA);
  border-color: var(--colorLightPurple-AA9DFA);
}

.section-playlists__music-item:active .section-playlists__name-block {
  background-color: var(--colorPurple-4F28A5);
  border-color: var(--colorPurple-4F28A5);
}

.section-playlists__music-adv {
  transition: color .3s ease-in-out;
}

.section-playlists__music-item:focus .section-playlists__music-adv {
  color: var(--colorBlack-121723);
}

.section-playlists__music-item:hover .section-playlists__music-adv {
  color: var(--colorWhite-FFF);
}

.section-playlists__music-name {
  transition: color .3s ease-in-out;
}

.section-playlists__music-item:hover .section-playlists__music-name {
  color: var(--colorWhite-FFF);
}

.section-playlists__item:not(:last-child) {
  margin-bottom: 26px;
}

.section-playlists__list {
  position: relative;
  margin-bottom: 66px;
}

.section-playlists__list::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--colorSemiGray-D2D5DD);
  bottom: -25px;
  left: -4px;
}

.section-playlists__text {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 22px;
  color: var(--colorGray-A1A6B4);
}

.section-playlists__text-italic {
  display: block;
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 22px;
  color: var(--colorGray-A1A6B4);
  font-style: italic;
}

.section-playlists__name-block {
  padding: 16px;
  border: solid var(--colorLightGray-E6E8EC) 1px;
}

.section-playlists__music-item {
  cursor: pointer;
  position: relative;
  /* flex-basis: 21.3%; */
  margin-right: 0;
  margin-bottom: 28px;
  font-size: 0;
}

.section-playlists__music-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.section-playlists__music-name {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: var(--fontSize-normal-16px);
  line-height: 16px;
  color: var(--colorBlack-121723);
}

.section-playlists__music-adv {
  font-weight: 400;
  font-size: var(--fonSize-verySmall-12px);
  line-height: 12px;
  color: var(--colorGray-A1A6B4);
}

.section-playlists__adv-block-1024 {
  display: none;
}

/* Стилизация radio */
.section-playlists__playlists-type {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.section-playlists__playlists-type:focus .section-playlists__radio+span::before {
  border: 1px solid var(--colorSemiPurple-6D31EE);
  background-color: var(--colorSemiGray-D2D5DD);
}

.section-playlists__playlists-type:hover .section-playlists__radio+span::before {
  border: 2px solid var(--colorSemiPurple-6D31EE);
}

.section-playlists__radio {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-playlists__playlists-type .section-playlists__radio+span {
  position: absolute;
  bottom: 0;
  top: -3px;
  left: -38px;
  text-align: center;
}

.section-playlists__playlists-type .section-playlists__radio+span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border: 2px solid var(--colorGray-A1A6B4);
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  transition: border .2s ease-in-out;
}

.section-playlists__scroll-type {
  display: none;
}

.section-playlists__radio[type="radio"]:checked+span::before {
  border: 7px solid var(--colorSemiPurple-6D31EE);
}

/* Конец стилизации radio */

.section-sale {
  padding: var(--paddingSection);
  background-color: var(--colorSeniBlack-292E39);
  padding-bottom: 143px;
}

.section-sale__left-block {
  position: relative;
  /* flex-basis: 58%; */
  margin-right: 30px;
}

.section-sale__right-block {
  /* flex-basis: 42%; */
  max-width: 445px;
}

.section-sale__title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: var(--fontSize-Title-48px);
  line-height: 100%;
  color: var(--colorSemiBrown-F0D288);
}

.section-sale__text {
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 180%;
  color: var(--colorWhite-FFF);
}

.section-sale__text:not(:last-child) {
  margin-bottom: 12px;
}

.section-sale__text-block {
  margin-bottom: 32px;
}

.section-sale__price {
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--colorWhite-FFF);
}

.section-sale__ico-new {
  position: absolute;
  top: 0px;
  left: 0px;
}

.section-sale__ico-wave-459 {
  display: none;
}

.section-sale__link-market {
  padding: 25px 13px 25px 13px;
  border: solid 2px var(--colorSemiBrown-F0D288);
  border-radius: 100px;
  font-weight: 500;
  font-size: var(--fontSize-big-20px);
  line-height: 100%;
  color: var(--colorSemiBrown-F0D288);
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.section-sale__ico-market-path1,
.section-sale__ico-market-path2 {
  transition: fill .3s ease-in-out;
}

.section-sale__link-market:focus {
  border-color: var(--colorSemiBrown-F0D288);
  background-color: var(--colorBrown-BB973E);
  color: var(--colorBlack-121723);
}

.section-sale__link-market:hover {
  border-color: var(--colorSemiBrown-F0D288);
  background-color: var(--colorSemiBrown-F0D288);
  color: var(--colorBlack-121723);
}

.section-sale__link-market:active {
  border-color: var(--colorBrown-BB973E);
  background-color: var(--colorBrown-BB973E);
  color: var(--colorBlack-121723);
}

.section-sale__link-market:hover .section-sale__ico-market-path1 {
  fill: var(--colorBlack-121723);
}

.section-sale__link-market:hover .section-sale__ico-market-path2 {
  fill: var(--colorSemiBrown-F0D288);
}

.section-sale__link-market:active .section-sale__ico-market-path1 {
  fill: var(--colorBlack-121723);
}

.section-sale__link-market:active .section-sale__ico-market-path2 {
  fill: var(--colorBrown-BB973E);
}

.section-sale__ico-wave {
  margin-bottom: 15px;
}

.section-sale__ico-market {
  position: relative;
  top: 3px;
}

.section-about-us {
  padding: var(--paddingSection);
  padding-bottom: 90px;
  background-color: var(--colorBlack-121723);
}

.section-about-us__subtitle {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: var(--fontSize-Title-48px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
}

.section-about-us__text-up {
  font-weight: 700;
  margin-bottom: 7px;
  font-size: var(--fontSize-big-20px);
  line-height: 150%;
  color: var(--colorGray-A1A6B4);
}

.section-about-us__text {
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 160%;
  color: #A1A6B4;
}

.section-about-us__ico-dec:first-child {
  margin-right: 20px;
}

.section-about-us__ico-dec:last-child {
  position: relative;
  top: -19px;
}

.section-about-us__ico-block-768 {
  display: none;
}

.section-about-us__lt-block {
  max-width: 57.5%;
  margin-right: 30px;
}

.section-about-us__top-block {
  flex-wrap: wrap;
  margin-bottom: 22px;
}

.section-about-us__swiper {
  margin-bottom: 30px;
}

.swiper-slide {
  position: relative;
  min-width: 255px;
  min-height: 361px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-about-us__swiper-slide1 {
  background-image: url(../img/slaider1.jpg);
}

.section-about-us__swiper-slide2 {
  background-image: url(../img/slaider2.jpg);
}

.section-about-us__swiper-slide3 {
  background-image: url(../img/slaider3.jpg);
}

.section-about-us__swiper-slide4 {
  background-image: url(../img/slaider4.jpg);
}

.section-about-us__swiper-slide5 {
  background-image: url(../img/slaider5.jpg);
}

.section-about-us__swiper-slide6 {
  background-image: url(../img/slaider6.jpg);
}

.section-about-us__bloc-swiper {
  position: absolute;
  top: 288px;
  left: 0;
}

.section-about-us__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: var(--fontSize-big-20px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
}

.section-about-us__about-me {
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 150%;
  color: var(--colorGray-A1A6B4);
}

.container {
  position: relative;
}

.section-about-us__nav-btn {
  position: absolute;
  cursor: pointer;
  top: 425px;
  width: 42px;
  height: 42px;
  transition: background-color .3s ease-in-out;
  border-radius: 100%;
}

.section-about-us__nav-btn svg path,
.section-about-us__nav-btn svg circle {
  transition: stroke .3s ease-in-out;
}

.section-about-us__nav-btn:focus svg path,
.section-about-us__nav-btn:focus svg circle {
  stroke: var(--colorGray-A1A6B4);
}

.section-about-us__nav-btn:focus {
  background-color: var(--colorPurple-4F28A5);
}

.section-about-us__nav-btn:hover svg path,
.section-about-us__nav-btn:hover svg circle {
  stroke: var(--colorLightPurple-AA9DFA);
}

.section-about-us__nav-btn:active svg circle {
  stroke: var(--colorGray-A1A6B4);
}

.section-about-us__nav-btn:active svg path {
  stroke: var(--colorWhite-FFF);
}

.section-about-us__nav-btn:active {
  background-color: var(--colorLightPurple-AA9DFA);
}

.swiper-button-disabled {
  opacity: 0.5;
}

.section-about-us__nav-btn-next {
  right: -30px;
}

.section-about-us__nav-btn-prev {
  left: -30px;
}

.section-about-us__input {
  padding: 25px 30px;
  font-weight: 400;
  font-size: var(--fontSize-big-20px);
  line-height: 100%;
  color: var(--colorGray-A1A6B4);
  width: 445px;
  background-color: var(--colorBlack-121723);
  border-radius: 32px;
  border: 1px solid var(--colorWhite-FFF);
}

.section-about-us__input:focus {
  border: solid 1px var(--colorLightPurple-AA9DFA);
  background-color: var(--colorSeniBlack-292E39);
}

.section-about-us__input:first-child {
  margin-right: 30px;
}

.section-about-us__input_big-heght {
  width: 920px;
  height: 150px;
  margin-bottom: 25px;
}

.section-about-us__bot-form {
  margin-bottom: 30px;
}

.section-about-us__btn {
  padding: 25px 54px;
  margin-bottom: 30px;
  background: var(--colorSemiPurple-6D31EE);
  border-radius: 40px;
  border: none;
  font-weight: 500;
  font-size: var(--fontSize-big-20px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.section-about-us__btn:focus {
  border-color: var(--colorSemiPurple-6D31EE);
  background-color: var(--colorSemiPurple-6D31EE);
  color: var(--colorWhite-FFF);
}

.section-about-us__btn:hover {
  border-color: var(--colorLightPurple-AA9DFA);
  color: var(--colorWhite-FFF);
  background-color: var(--colorLightPurple-AA9DFA);
}

.section-about-us__btn:active {
  background-color: var(--colorPurple-4F28A5);
  color: var(--colorWhite-FFF);
  border-color: var(--colorPurple-4F28A5);
}

.section-about-us__checkbox {
  position: relative;
  display: none;
}

.section-about-us__check-label {
  cursor: pointer;
  position: relative;
  padding-left: 22px;
  font-weight: 500;
  font-size: var(--fonSize-verySmall-12px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
}

.section-about-us__checkbox+.section-about-us__span {
  position: absolute;
  bottom: 0;
  top: -27%;
  left: 0;
  width: 14px;
  height: 14px;
  text-align: center;
  border: 1px solid var(--colorWhite-FFF);
}

.section-about-us__checkbox+.section-about-us__span:before {
  content: "";
  position: absolute;
  color: #97EE3F;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.94976 1.08233L4.00002 6.03208L1.17159 3.20365' stroke='%23AA9DFA' stroke-width='2'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.section-about-us__checkbox:checked+.section-about-us__span:before {
  opacity: 1;
}

.footer {
  padding-top: 94px;
  padding-bottom: 12px;
  background-color: #292E39;
}

.footer__left-block {
  margin-right: auto;
}

.footer__top-block {
  margin-bottom: 94px;
}

.footer__link-ico {
  margin-bottom: 15px;
}

.footer__link-social:not(:last-child) {
  margin-right: 17px;
}

.footer__link-social svg>path {
  transition: fill .3s ease-in-out;
}

.footer__link-social:focus svg>path {
  fill: var(--colorLightPurple-AA9DFA);
}

.footer__link-social:hover svg>path {
  fill: var(--colorSemiPurple-6D31EE);
}

.footer__link-social:active svg>path {
  fill: var(--colorPurple-4F28A5);
}

.footer__list:not(:last-child) {
  margin-right: 109px;
}

.footer__social-block-768 {
  display: none;
}

.footer__item {
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 100%;
  color: var(--colorWhite-FFF);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__item:focus {
  background-color: var(--colorLightPurple-AA9DFA);
}

.footer__item:hover {
  color: var(--colorSemiPurple-6D31EE);
}

.footer__item:active {
  color: var(--colorPurple-4F28A5);
}

.footer__bot-block {
  justify-content: center;
}

.footer__bottom-text {
  font-weight: 400;
  font-size: var(--fontSize-normal-16px);
  line-height: 103.34%;
  color: var(--colorGray-A1A6B4);
}

.footer__ico-bot {
  width: 100%;
  margin-bottom: 5px;
}

.footer__ico-bot-1024 {
  display: none;
}

.footer__ico-bot-768 {
  display: none;
}

.footer__block-459 {
  display: none;
}

.footer__ico-bot-459 {
  display: none;
}

.section-about-us__input {
  position: relative;
}

.section-about-us__bot-form {
  position: relative;
}

.js-validate-error-label {
  font-size: 12px;
  line-height: 12px;
  color: #D52B1E;
  top: 5px;
}

.section-about-us__input1+.js-validate-error-label {
  position: absolute;
  left: 29px;
}

.section-about-us__input2+.js-validate-error-label {
  position: absolute;
  left: 29px;
}

.section-about-us__input-block {
  position: relative;
  display: inline-block;
}

.section-about-us__form {
  position: relative;
}

.section-about-us__input_big-heght + .js-validate-error-label {
  position: absolute;
  left: 23px;
}
